{
  "extends": "standard",
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "semi": [2, "always"],
    "one-var": [2, "always"],
    "indent": [2, 2, {"VariableDeclarator": 2}],
    "no-multi-spaces": [2, {
      "exceptions": {
        "VariableDeclarator": true
      }
    }]
  }
}
